*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.qodo
/.qudo/*
*/peridium/ide/
*/peridium.ide/
*/srcs/
/project_backup_full_*
/backup.ps1
/.kotlin/errors/errors-1763681705690.log
kotlin-compiler-*.salive
/.idea/
