*.iml
.gradle
.gradle/
/local.properties
.DS_Store
/build
build/
/captures
.externalNativeBuild
.cxx
local.properties
.qodo
/.qudo/*
*/peridium/ide/
*/peridium.ide/
*/srcs/
/project_backup_full_*
/backup.ps1
/.kotlin/errors/errors-1763681705690.log
kotlin-compiler-*.salive
/.idea/
min-app/build/
min-app/app/build/
min-app/.gradle/
