*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/*
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.qodo
/.qudo/*
*/peridium/ide/
*/peridium.ide/
*/srcs/
/project_backup_full_*
/backup.ps1
/.kotlin/errors/errors-1763681705690.log
kotlin-compiler-*.salive
